body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

   
}
.col{
    width: 100%;
}
.mrg-bottom28{
    margin-bottom: 20px;
}

#main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg,#da1cdd,#42a8c5);
    
    display: flex;
}
#main>.container{

    width: 40%;
    height: 80%;
    background-color: rgb(181, 176, 178,0.5);
    margin: auto;
    border-radius: 5%;
    display: flex;
    animation: modalin ease 2s;
}
#main .content{
    width: 80%;
    min-height: 80%;
    background-color: azure;
    margin: auto;
    border-radius: 5%;
    padding-left: 16px;
    padding-right: 16px;
}
.title>h2{
    color: rgb(37, 37, 147);
    text-align: center;
    font-size: 25px;
}
.title>p{
    text-align: center;
    color: rgba(1, 1, 1, 0.7);
    font-size: 17px;
}
.input::after{
    content: "";
    display: block;
    width: 50%; 
    border: 1px solid rgba(1, 1, 1, 0.7);
    transform: translate(50%);
}
#e-mail,#password{
height: 30px;
border-radius: 5px;
border: 1px solid rgba(1, 1, 1, 0.7);
}

form>button{
    display: block;
    width: 80%;
    height: 35px;
    margin: auto;
    background: linear-gradient(0deg,#da1cdd,#42a8c5);
    border-radius: 10px;
   border: none;
   color: azure;
   margin-bottom: 30px;
   margin-top: 20px;
}
form>button:hover{
    background: linear-gradient(0deg,#c1871c,#19ac54);
    color: black;
    cursor: pointer;
}

/* start footer */
#contact{
    padding: 25px 55px;
    display: flex;
    justify-content: space-around;
}
#contact .icon{
    display: block;
    text-decoration: none;
    color: rgba(1, 1, 1, 0.6);
   
}
@keyframes modalin {
    from{
       
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
